body {
  background-color: bisque;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 25vw;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1% 3%;
}
